%body
  %header
    %h1
      %a{href: "#"} Roomanager
    %nav
      %ul.header-links
        %li.header-link
          %a{href: "#"} About
        %li.header-link
          %a{href: "#"} Service
        %li.header-link
          %a{href: "#"} Contents

%main
  %section.fv-section
    %p.main-copy またつまらぬものを買ってしまった・・・というあなたに
    %p.fv-text 購買スタイルをお部屋から見直すアプリ
    %a.cta-btn{href: "/houses/new"} 使ってみる

%footer
  %small Shiranation all rights reserved

